body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: linear-gradient(#4A55A2, #7895CB, #24243E) ;
}

.main{
    overflow: hidden;
    width: 320px;
    height: 420px;
    border-radius: 12px;
    box-shadow: 5px 5px 30px;
}

.signup{
    position: relative;
    width: 100%;
    height: 100%;
}

label{
    color: #FFFFFF;
    font-family:fantasy;
    display:block;
    justify-content: center;
    font-weight: bold;
    font-size:2.3em;
    margin-top: 50px;
    margin-bottom: 40px;
    transition: .5s ease-in-out;
    cursor: pointer;
}

input{
    background-color: #E0DEDE;
    border-radius: 4px;
    border: none;
    outline: none;
    width: 70%;
    height: 30px;
    margin-bottom: 10px;
    padding: 3px 7px;
}

.usr{
    margin-top: 40px;
}

button{
    background-color: #7895CB;
    color: #FFFFFF;
    font-family:fantasy;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    width: 65%;
    height: 8%;
    cursor: pointer;
    padding: 10px 15px;
    transition: .3s;
}

button:hover{
    background-color: #4A55A2;
}

.signup{
    position: relative;
    width: 100%;
    height: 100%;
}

#loginLabel{
    color: #4A55A2;
    font-family:fantasy;
    margin-top: 10px;
    font-size: 1.3em;
    font-weight: bold;
    transition: .5s ease-in-out;
}

.hiddenForm{
    transform: translateY(-110px);
    transition: .8s ease-in-out;
    background-color: #EEEEEE;
    width: 320px;
    height: 450px;
    box-shadow: 5px 5px 30px;
    border-radius:90%/10%;
}

#check{
    display: none;
}

#check:checked ~ .hiddenForm{
    transform: translateY(-370px);
}